<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block page_title%}{%endblock%}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=League Spartan' rel='stylesheet'>
    <link rel="stylesheet" href="/static/css/admin.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>
<body>
    <div class="col-2 navbar-content p-4" id="navbar">
        <div class="row justify-content-center" id="title">MCKELDIN CMR</div>
        <hr>
        <ul class="navbar-ul">
            <li class="navbar-li active">
                <a href="" class="image-container">
                    <img class="front" src="static\images\home-gray.png"alt="First Image">
                    <img class="back" src="static\images\home-white.png" alt="Second Image">
                    <p class="navbar-item">Dashboard</p>
                </a>
                <!-- <a href="">Dashboard</a> -->
            </li>
            <li class="navbar-li">
                <a class="image-container" href="">
                    <img class="front" src="static\images\student-gray.png"alt="First Image">
                    <img class="back" src="static\images\student-white.png" alt="Second Image">
                    <p class="navbar-item">Students</p>
                </a>
            </li>
            <li class="navbar-li">
                <a href="#submenu2" data-bs-toggle="collapse" class="image-container">
                    <img class="front" src="static\images\floor-gray.png"alt="First Image">
                    <img class="back" src="static\images\floor-white.png" alt="Second Image">
                    <p class="navbar-item">Shelving</p>
                </a>
                <ul class="collapse nav flex-column" id="submenu2" data-bs-parent="#menu">
                    <li class="w-100 mb-3">
                        <a href="#" class="nav-link sub">3rd Floor</a>
                    </li>
                    <li class="w-100 mb-3">
                        <a href="#" class="nav-link sub">5th Floor</a>
                    </li>
                    <li class="w-100 mb-3">
                        <a href="#" class="nav-link sub">6th Floor</a>
                    </li>
                    <li class="w-100 mb-3">
                        <a href="#" class="nav-link sub">7th Floor</a>
                    </li>
                    <li class="w-100 mb-3">
                        <a href="#" class="nav-link sub">Others SR</a>
                    </li>
                    <li class="w-100 mb-3">
                        <a href="#" class="nav-link sub">Stacks PS Center</a>
                    </li>
                </ul>
            </li>
            <li class="navbar-li">
                <a class="image-container" href="">
                    <img class="front" src="static\images\analytics-gray.png"alt="First Image">
                    <img class="back" src="static\images\analytics-white.png" alt="Second Image">
                    <p class="navbar-item">Analytics</p>
                </a>
            </li>
        </ul>
        <p class="account-pages">ACCOUNT PAGES</p>
        <ul class="navbar-ul">
            <li class="navbar-li">
                <a class="image-container" href="">
                    <img class="front" src="static\images\profile-gray.png"alt="First Image">
                    <img class="back" src="static\images\profile-white.png" alt="Second Image">
                    <p class="navbar-item">Profile</p>
                </a>
            </li>
        </ul>
    </div>

    <div id="page-content">
        {%block page_content%}
        {%endblock%}
    </div>
    <script src="static\js\script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>