{%extends 'supervisor-navbar-base.html'%}

{%block page_title%}
Floors
{%endblock%}

{%block child_content%}
<p>Floor</p>
{%endblock%}

{%block page_content%}


  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="collapse navbar-collapse stack-list" id="navbarNav">
        <ul class="navbar-nav">
            <li  class="nav-item">
                <form class="col-10 form-inline my-2 my-lg-0" id="search_form_stack">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search_bar_stack">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="search_button_stack">Search</button>
                  </form>
              </li>
          <li class="nav-item">
            <div class="dropdown position-static">
                <button class="btn btn-secondary custom-btn-secondary custom-dropdown-toggle" id="stack-dropdown-button" type="button" data-bs-toggle="dropdown" aria-expanded="false" onclick="changeColor(this)">
                  Stack1
                </button>
                <div class="dropdown-menu position-absolute" id="stack_menu">
                    <div class="row ps-5 pe-5">
                        <table class="table mt-4 table-hover mytable" id="student_list_view_table">
                            <thead>
                              <tr class="floor_tr">
                                <th scope="col">Student</th>
                                <th class="floor_data" scope="col">Date</th>
                                <th class="floor_data" scope="col">Start Time</th>
                                <th class="floor_data" scope="col">End Time</th>
                                <th class="floor_data" scope="col">Duration</th>
                                <th class="floor_data" scope="col">Shelves</th>
                                <th class="floor_data" scope="col">Start Call #</th>
                                <th class="floor_data"scope="col">StopCall #</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="clickable-row" id="student_overall_view_row" data-href="/supervisor-student">
                
                                <!-- Input data from database here -->
                
                                <td>Betty Shroud</td>
                                <td class="floor_data">6/3/2024</td>
                                <td class="floor_data">8:45pm</td>
                                <td class="floor_data">9:00pm</td>
                                <td class="floor_data">15min</td>
                                <td class="floor_data">5</td>
                                <td class="floor_data">A863.4.A369 2001</td>
                                <td class="floor_data">AM145.S45  1998</td>
                
                                <!-- End -->
                                
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
              </div>
          </li>

          <li class="nav-item">
            <div class="dropdown position-static">
                <button class="btn btn-secondary custom-btn-secondary custom-dropdown-toggle" id="stack-dropdown-button" type="button" data-bs-toggle="dropdown" aria-expanded="false" onclick="changeColor(this)">
                  Stack1
                </button>
                <div class="dropdown-menu position-absolute" id="stack_menu">
                    <div class="row ps-5 pe-5">
                        <table class="table mt-4 table-hover mytable" id="student_list_view_table">
                            <thead>
                              <tr class="floor_tr">
                                <th scope="col">Student</th>
                                <th class="floor_data" scope="col">Date</th>
                                <th class="floor_data" scope="col">Start Time</th>
                                <th class="floor_data" scope="col">End Time</th>
                                <th class="floor_data" scope="col">Duration</th>
                                <th class="floor_data" scope="col">Shelves</th>
                                <th class="floor_data" scope="col">Start Call #</th>
                                <th class="floor_data"scope="col">StopCall #</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="clickable-row" id="student_overall_view_row" data-href="/supervisor-student">
                
                                <!-- Input data from database here -->
                
                                <td>Betty Shroud</td>
                                <td class="floor_data">6/3/2024</td>
                                <td class="floor_data">8:45pm</td>
                                <td class="floor_data">9:00pm</td>
                                <td class="floor_data">15min</td>
                                <td class="floor_data">5</td>
                                <td class="floor_data">A863.4.A369 2001</td>
                                <td class="floor_data">AM145.S45  1998</td>
                
                                <!-- End -->
                                
                              </tr>
                              <tr class="clickable-row" id="student_overall_view_row" data-href="/supervisor-student">
                
                                <!-- Input data from database here -->
                
                                <td>Betty Shroud</td>
                                <td class="floor_data">6/3/2024</td>
                                <td class="floor_data">8:45pm</td>
                                <td class="floor_data">9:00pm</td>
                                <td class="floor_data">15min</td>
                                <td class="floor_data">5</td>
                                <td class="floor_data">A863.4.A369 2001</td>
                                <td class="floor_data">AM145.S45  1998</td>
                
                                <!-- End -->
                                
                              </tr>
                              <tr class="clickable-row" id="student_overall_view_row" data-href="/supervisor-student">
                
                                <!-- Input data from database here -->
                
                                <td>Betty Shroud</td>
                                <td class="floor_data">6/3/2024</td>
                                <td class="floor_data">8:45pm</td>
                                <td class="floor_data">9:00pm</td>
                                <td class="floor_data">15min</td>
                                <td class="floor_data">5</td>
                                <td class="floor_data">A863.4.A369 2001</td>
                                <td class="floor_data">AM145.S45  1998</td>
                
                                <!-- End -->
                                
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
              </div>
          </li>

          <li class="nav-item">
            <div class="dropdown position-static">
                <button class="btn btn-secondary custom-btn-secondary custom-dropdown-toggle" id="stack-dropdown-button" type="button" data-bs-toggle="dropdown" aria-expanded="false" onclick="changeColor(this)">
                  Stack1
                </button>
                <div class="dropdown-menu position-absolute" id="stack_menu">
                    <div class="row ps-5 pe-5">
                        <table class="table mt-4 table-hover mytable" id="student_list_view_table">
                            <thead>
                              <tr class="floor_tr">
                                <th scope="col">Student</th>
                                <th class="floor_data" scope="col">Date</th>
                                <th class="floor_data" scope="col">Start Time</th>
                                <th class="floor_data" scope="col">End Time</th>
                                <th class="floor_data" scope="col">Duration</th>
                                <th class="floor_data" scope="col">Shelves</th>
                                <th class="floor_data" scope="col">Start Call #</th>
                                <th class="floor_data"scope="col">StopCall #</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="clickable-row" id="student_overall_view_row" data-href="/supervisor-student">
                
                                <!-- Input data from database here -->
                
                                <td>Betty Shroud</td>
                                <td class="floor_data">6/3/2024</td>
                                <td class="floor_data">8:45pm</td>
                                <td class="floor_data">9:00pm</td>
                                <td class="floor_data">15min</td>
                                <td class="floor_data">5</td>
                                <td class="floor_data">A863.4.A369 2001</td>
                                <td class="floor_data">AM145.S45  1998</td>
                
                                <!-- End -->
                                
                              </tr>
                              <tr class="clickable-row" id="student_overall_view_row" data-href="/supervisor-student">
                
                                <!-- Input data from database here -->
                
                                <td>Betty Shroud</td>
                                <td class="floor_data">6/3/2024</td>
                                <td class="floor_data">8:45pm</td>
                                <td class="floor_data">9:00pm</td>
                                <td class="floor_data">15min</td>
                                <td class="floor_data">5</td>
                                <td class="floor_data">A863.4.A369 2001</td>
                                <td class="floor_data">AM145.S45  1998</td>
                
                                <!-- End -->
                                
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
              </div>
          </li>
       
          
        </ul>
      </div>
    </div>
  </nav>

  


{%endblock%}