{% extends 'supervisor-navbar-base.html' %}

{% block page_title %}
Analytics
{% endblock %}

{% block child_content %}
<p>Analytics - Top Performers</p>
{% endblock %}

{% block page_content %}
<!-- Include Chart.js library -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="container">
        <div class="row">
            {{ top_students_overall|safe }}
        </div>
            <div class="row">
                <div class="col-4">
                    {{ holdlist_graph | safe }}
                </div>
                <div class="col-4">
                    {{ ill_graph | safe }}
                </div>
                <div class="col-4">
                    {{ inhouse_graph | safe }}
                </div>
            </div>
            
            <div class="row">
                <div class="col-4">
                    {{ shelving_graph | safe }}
                </div>
                <div class="col-4">
                    {{ problem_items_graph | safe }}
                </div>
                <div class="col-4">
                    {{ shelf_reading_graph | safe }}
                </div>
                
            </div>
</div>
{% endblock %}
