{% extends 'supervisor-navbar-base.html' %}

{% block page_title %}
Students (Overall View)
{% endblock %}

{% block child_content %}
<p>Students (Overall View)</p>
{% endblock %}

{% block page_content %}
<div class="container">
    <div class="row mt-2">
        <form class="col-10 form-inline my-2 my-lg-0" id="search_form" action="{{ url_for('supervisor_student_overall_view') }}" method="get">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search_bar" name="search_query" value="{{ request.args.get('search_query', '') }}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="search_button">Search</button>
        </form>
        <a class="col-2" href="/supervisor-student-list-view" id="switch_view_button">Switch View</a>
    </div>
    <div class="row ps-2 pe-5">
        <table class="table mt-4 table-hover mytable" id="student_list_view_table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Student</th>
                    <th class="student_overall_view_number" scope="col">Shelfreads</th>
                    <th class="student_overall_view_number" scope="col">Problem Items</th>
                    <th class="student_overall_view_number" scope="col">In-House</th>
                    <th class="student_overall_view_number" scope="col">Shelving</th>
                    <th class="student_overall_view_number" scope="col">Holds List</th>
                    <th class="student_overall_view_number" scope="col">RM List</th>
                </tr>
            </thead>
            <tbody>
                {% for each_student in students_data %}
                <tr class="clickable-row" id="student_overall_view_row" data-href="{{ url_for('student_view', student_id=each_student.student_id) }}">
                    <td><a href="{{ url_for('student_view', student_id=each_student.student_id) }}">{{ each_student.student_id }}</a></td>
                    <td><a href="{{ url_for('student_view', student_id=each_student.student_id) }}">{{ each_student.student_fname }} {{ each_student.student_lname }}</a></td>
                    <td class="student_overall_view_number">{{ each_student.total_shelfreads }}</td>
                    <td class="student_overall_view_number">{{ each_student.total_problem_items }}</td>
                    <td class="student_overall_view_number">{{ each_student.total_in_house }}</td>
                    <td class="student_overall_view_number">{{ each_student.total_shelving }}</td>
                    <td class="student_overall_view_number">{{ each_student.total_holds_list }}</td>
                    <td class="student_overall_view_number">{{ each_student.total_rm_list }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
