{%extends 'supervisor-navbar-base.html'%}

{%block page_title%}
Administrator Dashboard
{%endblock%}

{%block child_content%}
<p>Dashboard</p>
{%endblock%}
 
{%block page_content%}
<div class="container justify-content-center mb-5">
    <div class="row">
        <div class="col-md-8">
            <div class="section mb-4">
                <h4 class="topic"><b>Today</b></h4>
                <p class="subtitle">Today's Summary</p>
                <div class="row">
                    <div class="col section me-2 pt-2 ms-2">
                        <img src="" alt="">
                        <h4 class="topic"><b>148</b></h4>
                        <p class="subtitle">Total Shelved</p>
                    </div>
                    <div class="col section me-2 pt-2 ms-2">
                        <img src="" alt="">
                        <h4 class="topic"><b>148</b></h4>
                        <p class="subtitle">Total Shelved</p>
                    </div>
                    <div class="col section me-2 pt-2 ms-2">
                        <img src="" alt="">
                        <h4 class="topic"><b>148</b></h4>
                        <p class="subtitle">Total Shelved</p>
                    </div>
                    <div class="col section me-2 pt-2 ms-2">
                        <img src="" alt="">
                        <h4 class="topic"><b>148</b></h4>
                        <p class="subtitle">Total Shelved</p>
                    </div>
                    <div class="col section me-2 pt-2 ms-2">
                        <img src="" alt="">
                        <h4 class="topic"><b>148</b></h4>
                        <p class="subtitle">Total Shelved</p>
                    </div>
                    <div class="col section me-2 pt-2 ms-2">
                        <img src="" alt="">
                        <h4 class="topic"><b>148</b></h4>
                        <p class="subtitle">Total Shelved</p>
                    </div>
                </div>
            </div>
            <div class="section pt-3"> 
                <h4 class="topic"><b>Books Shelved</b></h4>
                <p class="subtitle">February 2023</p>
                <img class="img-fluid" src="static\images\Screenshot 2024-05-18 023232.png" alt="">
            </div>
        </div>
        <div class="col-md-4 section pt-3">
            <h4 class="topic"><b>Inbox</b></h4>
            <p class="subtitle">New Messages</p>
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Message</th>
                  </tr>
                </thead>
                <tbody>

                    <!-- Input data from inbox database here -->
                    
                    <tr class='clickable-row' data-href="/">
                        <td class="td-left">Jack Frost</td>
                        <td class="td-right">Hi Amy, I found a weird book...</td>
                    </tr>
                    
                    <!-- End -->
                    
                </tbody>
              </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 section pt-3">
            <h4 class="topic"><b>Top Performers</b></h4>
            <div class="row pt-3 ps-3">
                <table class="table" id="dashboard_top_performers">
                    <thead>
                      <tr>
                        <th scope="col">Rank</th>
                        <th scope="col">Name</th>
                        <th scope="col" class="td_bar">Progress Until Next Level</th>
                        <th scope="col" class="level">Level</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row" class="rank-table">1</th>
                        <td class="student-name">Emily Stone</td>
                        <td><img class="progress_bar" src="static\images\Screenshot 2024-05-18 023550.png" alt=""></td>
                        <td class="level">Superstar</td>
                      </tr>
                      <tr>
                        <th scope="row" class="rank-table">2</th>
                        <td class="student-name">Bob Smith</td>
                        <td><img class="progress_bar" src="static\images\Screenshot 2024-05-18 023550.png" alt=""></td>
                        <td class="level">Superstar</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td class="student-name">Jack Frost</td>
                        <td><img class="progress_bar" src="static\images\Screenshot 2024-05-18 023550.png" alt=""></td>
                        <td class="level">Superstar</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
        <div class="col-3 section pt-3 ps-3">
            <h4 class="topic"><b>Total Completed</b></h4>
            <p class="subtitle">Total Activity Today</p>
        </div>
    </div>
</div>
{%endblock%}