{%extends 'supervisor-navbar-base.html'%}

{%block page_title%}
In-House
{%endblock%}

{%block child_content%}
<p class="in_house">In-House</p>
{%endblock%}



{%block page_content%}
<div class="container">
    
    <!-- Dropdown for Student Name -->
    <div class="row">
        <div class="col-2">
            <label for="student_id" class="form-label mt-4"><strong>Student Name</strong></label>
            <select class="form-select custom-form" id="student_id" name="student_id" required>
                <option value="" disabled selected>Select Student</option>
                {% for student in students %}
                    <option value="{{ student.student_id }}">{{ student.first_name }} {{ student.last_name }}</option>
                {% endfor %}
            </select>
        </div>        
        
        <!-- Input for Number of Shelves Completed -->
        <div class="col-2">
            <label for="quantity" class="form-label mt-4"><strong>Quantity</strong></label>
            <input type="number" id="shelves_completed" name="shelves_completed" class="form-control custom-form" required min="1">
        </div>
        
    </div>


{%endblock%}