/* Navbar Styling */
div#navbar {
    float: left;
    height: 100vh;
}

#title {
    font-family: 'League Spartan';
    letter-spacing: 5px;
    margin-top: 5%;
    margin-bottom: 10%;
}

.navbar-ul {
    list-style: none;
    font-family: 'Poppins';
    padding: 0;
}

a {
    color: #A0AEC0;
    text-decoration: none;
    vertical-align: middle;
}

.navbar-li:hover {
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgb(244, 244, 244);
    transition: .5s;
    .navbar-item{
        color: black;
        transition: .5s;
    }
    a.nav-link.sub:hover {
        color: black;
    }
    .image-container img {
        transition: .5s;
        background-color: #00FFD1;
    }
    img.front {
        display: none;
        transition: .5s;
    }
    img.back {
        display: inline-block;
        transition: .5s;
    }
}

img.back {
    display: none;
    transition: .5s;
}

img.front, img.back{
    width: 30%;
    height: auto;
    padding: 5%;
    border-radius: 10px;
    margin-right: 5%;
    vertical-align: middle;
}

img.front {
    display: inline-block;
}

.image-container{
    display: inline-block;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 6%;
    padding-right: 40%;
    font-size: .8vw;
}

div#navbar {
    box-shadow: 2px 0px 10px rgb(244, 244, 244);
}

.account-pages {
    font-weight: 500;
    font-size: .8vw;
    margin-left: 10%;
    margin-top: 5%;
}

.navbar-item {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    color: #A0AEC0;
}


.accordion .card-header .btn {
    border: none;
    padding: none;
  }

.accordion-list>li {
    list-style: none;
    margin-bottom: 20%;
    font-size: .8vw;
}

.accordion-list>li>a:hover {
    color: black;
    transition: .5s;
    border-bottom-style: solid;
    border-bottom-color:#00FFD1;
    border-bottom-width: thick;
}

#accordion-shelving .accordion-button {
    border: none;
    width: 100%; 
    padding: 0;
    font-size: .8vw;
}

#accordion-shelving .accordion-button:focus {
    outline: none; 
    box-shadow: none;
    background-color: white;
}

#accordion-shelving .accordion-item {
    border: none;
}

/* Header Styling */

button#account_button {
    background-color: white;
    color: #708099;
    font-family: 'Poppins';
    font-size: .7vw;
    outline: none;
    border: none;
    padding: 0;
    width: 6%;
    float: right;
    margin-right: 3%;
}

img#account_icon {
    width: 20%;
    height: auto;
}

div.dropdown {
    float: right;
    margin-top: 1%;
}

div#page_title {
    font-weight: 500;
    font-size: .9vw;
}

/* Dashboard Styling */

.section {
    box-shadow: 2px 2px 5px rgb(244, 244, 244);
    border-radius: 10px;
}

.topic {
    font-family: 'Poppins';
    font-size: 1vw;
    font-weight: 500;
}

.subtitle {
    font-size: .8vw;
    color: #A0AEC0;
    font-family: 'Inter', sans-serif;
}

.progress_bar {
    width: 80%;
    height: auto;
}

td.student-name {
    width: 20%;
}

tbody, td, tfoot, thead, tr {
    border-style: none;
    color: #A0AEC0;
    font-family: 'Poppins';
    font-size: .8vw;
}

th {
    border: none;
    color: black;
    font-weight: 300;
}

.inbox-link:hover {
    color: black
}

.rank-table {
    width: 10%;
    font-weight: 100;
}

.td_bar {
    width: 50%;
}

.inbox-tr:hover {
    color: black;
    transition: .5s;
}

.graph_placer {
    padding: 1%;
}

.td-left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.td-right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.table-hover tbody tr:hover {
    background-color: rgb(245, 244, 249);
    color: white;
    font-weight: 500;
    transition: .5s;
}


/* Admin Student List View Styling */
input#search_bar {
    width: 20%;
    background-color: #FCFCFC;
    border: none;
    font-family: 'Poppins';
    font-size: .8vw;
    color: #707683;
    display: inline-block;
    margin-right: 1%;
}


button#search_button {
    width: 10%;
    font-family: 'Poppins';
    font-size: .8vw;
    color: #707683;
    display: inline-block;
    border-color: black;
    display: inline-block;
}

button#search_button:hover {
    background-color: black;
    border-color: black;
    color: white;
}

#switch_view_button {
    border-color: #707683;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: .5%;
    padding-bottom: .5%;
    color: #707683;
    background-color: white;
    width: 10%;
    font-size: .8vw;
    display: inline-block;
    font-family: 'Poppins';
    text-align: center;
}

#switch_view_button:hover {
    background-color: black;
    color: white;
    transition: .5s;
}

tr#student_list_view_row {
    box-shadow: 2px 2px 5px rgb(244, 244, 244);
    border-color: rgb(244, 244, 244);
    border-style: solid;
    border-width: thin;
}

.mytable>tbody>tr>td {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    color: black;
}


/* Admin Student Overall View Styling */
.student_overall_view_number {
    text-align: center;
}

tr#student_overall_view_row {
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: #E2E8F0;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #E2E8F0;
}

/* Admin Individual Student Styling */

.student-table>tbody>tr>td {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    color: #708099;
}

.student-name {
    font-size: 1vw;
    font-family: "Poppins";
}

.individual-student-table-row {
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: #E2E8F0;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #E2E8F0;
}