div#navbar {
    float: left;
    height: 100vh;
}

#title {
    font-family: 'League Spartan';
    letter-spacing: 5px;
}

.navbar-ul {
    list-style: none;
    font-family: 'Poppins';
    padding: 0;

a {
    color: #A0AEC0;
    text-decoration: none;
}

a:hover {
    color: black;
}

.navbar-li {
    margin-top: 2%;
    margin-bottom: 2%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 2%;
    font-size: .8vw;
}

.navbar-li.active {
    background-color: white;
    color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgb(244, 244, 244);
}

.navbar-icon {
    border-radius: 15px;
    padding: 3%;
    width: 17%;
    height: auto;
    margin-right: 4%;
    background-color: white;
    box-shadow: 2px 2px 6px rgb(244, 244, 244);
}

div#navbar {
    box-shadow: 50px 0px 6px rgb(244, 244, 244);
}