{% extends 'supervisor-navbar-base.html' %}

{% block page_title %}
Floors
{% endblock %}

{% block child_content %}
<p>Floor {{ floor_id }}</p>
{% endblock %}

{% block page_content %}
<div class="container">
    <!-- Nav tabs for collections -->
    <ul class="nav nav-tabs" id="floorTabs" role="tablist">
        {% for collection in collections %}
            <li class="nav-item" role="presentation">
                <a class="nav-link {% if loop.first %}active{% endif %}" id="collection-{{ collection.collection_id }}-tab" data-bs-toggle="tab" href="#collection-{{ collection.collection_id }}" role="tab" aria-controls="collection-{{ collection.collection_id }}" aria-selected="true">
                    {{ collection.collection }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <!-- Tab content for shelving data under each collection -->
    <div class="tab-content" id="floorTabsContent">
        {% for collection in collections %}
            <div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="collection-{{ collection.collection_id }}" role="tabpanel" aria-labelledby="collection-{{ collection.collection_id }}-tab">
                <!-- Table for Shelving Data under each collection -->
                <table class="table mt-4 table-hover mytable">
                    <thead>
                        <tr class="floor_tr">
                            <th scope="col">Student</th>
                            <th class="floor_data" scope="col">Date</th>
                            <th class="floor_data" scope="col">Start Time</th>
                            <th class="floor_data" scope="col">End Time</th>
                            <th class="floor_data" scope="col">Duration</th>
                            <th class="floor_data" scope="col">Shelves</th>
                            <th class="floor_data" scope="col">Start Call #</th>
                            <th class="floor_data" scope="col">Stop Call #</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for shelving in shelvings %}
                            {% if shelving.collection_id == collection.collection_id %}
                                <tr class="clickable-row" id="student_overall_view_row" data-href="/admin-student">
                                    <td>{{ shelving.student.name }}</td>
                                    <td class="floor_data">{{ shelving.date }}</td>
                                    <td class="floor_data">{{ shelving.start_time }}</td>
                                    <td class="floor_data">{{ shelving.end_time }}</td>
                                    <td class="floor_data">{{ (shelving.end_time - shelving.start_time).total_seconds() / 3600 }} hours</td>
                                    <td class="floor_data">{{ shelving.total_shelving }}</td>
                                    <td class="floor_data">{{ shelving.start_call }}</td>
                                    <td class="floor_data">{{ shelving.end_call }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
